:root
{
    font-family: 'Times New Roman', Times, serif;
    color : #2e2e2e;
    background-color: #f5f5f5;
    
}

html
{
    box-sizing: border-box;
}

.container
{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: min(1000px, 70%);

    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.inputName
{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 8px;
}

.name
{
    padding: 10px;
}

.middle
{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 15px;
    max-height: 50vh;
}

.add-task-category
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.add-task-category button
{
    background-color: #20C4CB;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 8em;
    height: 3em;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

.tasks
{
    display: flex;
    min-width: 20px;
    width: 70%;
    gap: 10px;
    justify-content: flex-start;
    flex-direction: column;
    overflow: scroll;
}

.add-task
{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.task
{
    display: flex;
    padding: 12px;
    border-bottom: 1.5px solid #d3d3d3;
    align-items: center;
    justify-content: flex-start;
}

.task-name, .task-buttons
{
    width: 50%;
}

.task-buttons
{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    background: none;
}

.deleteImg
{
    cursor: pointer;
    height: 2.3em;
    width: 2.3em;
}

.categories
{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.category
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #20C4CB;
    color: white;
    cursor: pointer;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 125px;
    overflow: scroll;

}

.selected
{
    color: #da3a00;
    text-decoration: underline;
    font-weight: bold;
}

.category-name
{
    display: flex;
    font-size: 1.2em;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background-image: url('assets/incomplete1.svg');
    background-size: cover;
}

input[type="checkbox"]:checked {
    background-image: url('assets/completed1.svg');
    background-size: cover;
}


@media (max-width: 900px) {
    .container {
        width: 90%;
    }
    
    .name
    {
        width: 100%;
    }

    .inputName {
        width: 70%;
    }

    .middle {
        width: 100%;
        flex-direction: column;
    }


    .add-task-category {
        width: 100%;
        flex-direction: row;
    }

    .tasks {
        width: 100%;
    }

    .task-name, .task-buttons {
        width: 100%;
    }


    .categories
    {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

